In [22]:
import sys, os
sys.path.append(os.path.abspath("../src"))

from data.load_data import get_spy_data
from data.features import add_targets, make_sequences

Step 1: load data

In [14]:
df = get_spy_data(start="2010-01-01", end="2025-08-09")
df.head()

/Users/jonathansimkin/PycharmProjects/finance_ml/quant-timeseries-projects/src/data/load_data.py:5: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download("SPY", start=start, end=end)
[*********************100%***********************]  1 of 1 completed

Price            Open       High        Low      Close     Volume
Ticker            SPY        SPY        SPY        SPY        SPY
Date
2010-01-04  84.791282  85.560943  84.142350  85.515671  118944600
2010-01-05  85.462801  85.779720  85.153424  85.741989  111579900
2010-01-06  85.659005  86.013655  85.591097  85.802376  116074400
2010-01-07  85.643917  86.270213  85.402454  86.164574  131091100
2010-01-08  85.938200  86.489040  85.764652  86.451309  126402800

step 2: add features

In [15]:
df = add_targets(df)
df.head()

Price,Open,High,Low,Close,Volume,log_return,vol_park
Ticker,SPY,SPY,SPY,SPY,SPY,,
Date,,,,,,,
2010-01-04,84.791282,85.560943,84.142350,85.515671,118944600,NaN,0.006960
2010-01-05,85.462801,85.779720,85.153424,85.741989,111579900,0.002643,0.003050
2010-01-06,85.659005,86.013655,85.591097,85.802376,116074400,0.000704,0.002050
2010-01-07,85.643917,86.270213,85.402454,86.164574,131091100,0.004212,0.004208
2010-01-08,85.938200,86.489040,85.764652,86.451309,126402800,0.003322,0.003501

In [10]:
df['log_return'].mean(), df['log_return'].std()
df['vol_park'].mean(), df['vol_park'].std()

(np.float64(0.0047184426798323525), np.float64(0.0035347309580311273))

Step 3: make sequences

In [28]:
X, y, idx = make_sequences(df,
                           feature_cols=['log_return', 'vol_park'],
                           target_col='log_return', lookback=60, horizon=1, return_index=True)
#print(f"X shape: {X.shape}, y shape: {y.shape}, idx first 3: {idx[:3]}")

TypeError: make_sequences() got an unexpected keyword argument 'return_index'